@font-face {
    font-family: 'Pokemon Pixel Font';
    src: url(../fonts/pokemon_pixel_font.ttf) format('truetype');
    src: url(../fonts/Pokemon-Pixel-Font.eot);
    src: url(../fonts/Pokemon-Pixel-Font.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Pokemon-Pixel-Font.woff2) format('woff2'),
        url(../fonts/Pokemon-Pixel-Font.woff) format('woff'),
        url(../fonts/Pokemon-Pixel-Font.svg#Pokemon-Pixel-Font) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', Times, serif;
    font-size: 1.02em;
}

body {
    background-color: #b41b1b;
}

/* Header */

#logo-area {
    display: flex;
    width: 100%;
    justify-content: center;
}

#logo-area img {
    width: 300px;
}

/* Pokedex Lista */
#poke-area {
    margin-top: 10px;
}

#poke-list {
    width: 60%;
    margin-left: auto;
    margin-right: auto;    
}

.poke-item {    
    background-color: #FFF;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-radius: 20px;
    padding: 0 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none; 
    color: #000;  
}

.poke-item:hover {
    background-color: #EEE;
}

.poke-item img {    
    height: 80px;
    width: 80px;
}

#dex-number {
    width: 7%;
    margin-right: 30px;
    text-align: center;
}

#poke-nome {
    width: 50%;
    padding-left: 50px;
}

#search-box {
    margin-bottom: 30px;
}

#search-poke {
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 15px;
}

/* Pokemon Page */
#pokemon-container {
    display: grid;
    grid-template-columns: 50% 50%;    
    grid-template-rows: 130px 130px 130px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: auto;
    background-color: #FFF;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-radius: 20px;
    padding: 10px;
}

#poke-img {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom : auto;
    grid-row: 1 / 3;
}

#poke-img img {
    height: 200px;
    width: 200px;
}

#poke-info1, #poke-info2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;    
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 20px;
}



#dex-text::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#dex-text {
    width: 100%;
    font-size: 18px;
    grid-column: 1 / 3;
}

.poke-types {
    color: #FFF;
    border-radius: 8px;    
    width: 100px;
    text-align: center;
    margin: 2px 8px 2px 0;
    padding: 2px;    
}

#btn-back {
    background-color: #3e8afc;
    color: #FFF;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    width: 100px;
    height: 50px;
    font-size: 26px;
    line-height: 50px;
    text-align: center;    
    transition: .3s;
}

#btn-back:hover {
    background-color: #62a0fc;
}

.hide {
    display: none;
}

/* Responsive */

@media (max-width: 1024px) {

    #pokemon-container {
        width: 50%;
    }

}

@media (max-width: 768px) {

    #poke-list {
        width: 80%;
    }

    #pokemon-container {
        width: 60%;
    }

    #poke-img img {
        height: 180px;
        width: 180px;
    }

    #poke-nome {
        padding: 10px;
        width: 35%;
    }

}

@media (max-width: 540px) {

    #poke-list {
        width: 85%;
    }

    #logo-area img {
        width: 220px;
    }    

    .poke-item span, #search-poke {
        font-size: 0.7em;
    }

    .poke-item .poke-types {
        width: 65px;        
    }

    .poke-types {
        width: 80px;
    }

    #pokemon-container {
        width: 90%;        
    }

    #pokemon-container span, #pokemon-container p, #pokemon-container a {
        font-size: 1em;
    }
    
}

@media (max-width: 425px) {

    #poke-list {
        width: 90%;
    }

    #poke-nome {
        width: 30%;
        padding-left: 0;
        margin-left: 2px;
    }

    #dex-number {
        width: 35px;
        margin-right: 0;
        text-align: left;
    }

    .poke-item img {    
        height: 60px;
        width: 60px;
    }
    

    #pokemon-container span, #pokemon-container p, #pokemon-container a {
        font-size: 1em;
    }

    #poke-img img {
        height: 150px;
        width: 150px;
    }

}

@media (max-width: 375px) {

    #poke-list {
        width: 95%;
    }


    .poke-item span, #search-poke {
        font-size: .6em;
    }

    .poke-item .poke-types {
        width: 55px;        
    }

    #pokemon-container {
        width: 95%;        
    }

    #poke-img img {
        height: 130px;
        width: 130px;
    }
    
}

@media (max-width: 330px) {

    .poke-item span {
        font-size: .55em;
    }

    .poke-item .poke-types {
        width: 40px;
    }

    #poke-img img {
        height: 110px;
        width: 110px;
    }

}